/* Top Bar */
.top-bar {
  width: 100%;
  background-color: #08645e;
  color: #ffffff;
  text-align: center;
  padding: 8px;
  font-size: 0.9rem;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
  position: fixed; /* Change to fixed */
  top: 0; /* Ensure it stays at the top */
  width: 100%; /* Full width */
  z-index: 1000; /* Ensure it stays above other elements */
  line-height: 40px;
  height: 25px;
}

/* Slider Text */
.slider-text {
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  width: 100%;
  animation: slide 35s linear infinite;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}

.slider-text:hover {
  animation-play-state: paused;
  font-weight: bold;
}

/* Slider Text Content */
.slider-text a {
  color: #ffffff;
  text-decoration: none; /* Ensure no underline even on hover */
  display: inline-block;
  margin: 0;
}

.slider-text a:hover {
  text-decoration: none; /* Prevent underline on hover */
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Navbar */
.navbar {
  background-color: #F4F1E7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px; 
  padding: 15px 15px;
  border-bottom: 0; 
  position: fixed; /* Change to fixed */
  top: 40px; /* Position it below the top bar */
  width: 100%; /* Full width */
  z-index: 1000; /* Ensure it stays above other elements */
}

.navbar:after {
  content: '';
  position: absolute;
  top: 99%; /* Adjusted to display the pattern correctly */
  left: 0;
  width: 100%;
  height: 20px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="20" viewBox="0 0 100 20" transform="rotate(180)"><path fill="%23F4F1E7" d="M0 20 L7 8 L14 20 L21 8 L28 20 L35 8 L42 20 L49 8 L56 20 L63 8 L70 20 L77 8 L84 20 L91 8 L98 20 V20 H0 Z"/></svg>');
  z-index: 1; /* Ensure it is displayed above other elements */
}

/* Logo */
.logo {
  margin-left: 80px;
  display: flex;
  align-items: center;
}

.logo img {
  width: 120px;
  height: 120px;
  margin-right: 10px;
}

.logo span {
  font-size: 2.5rem;
  font-weight: bold;
  color: #334a50;
  font-family: 'Digdope-Regular', 'Arial', sans-serif;
}

/* Keyframes for wiggle animation on hover */
@keyframes wiggle-tilt {
  0%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(1deg); }
  50% { transform: rotate(-1deg); }
  75% { transform: rotate(1deg); }
}

/* Navigation Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 60px;
}

.nav-links li a {
  text-decoration: none;
  font-size: 2rem;
  color: #5e5a60;
  font-family: 'Digdope-Regular', 'Arial', sans-serif;
  transition: transform 0.3s ease; /* Smooth transition for hover */
}

.nav-links li a:hover {
  color: #08645e;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 5px;
  animation: wiggle-tilt 0.5s ease-in-out 1.5; /* Add wiggle animation on hover */
}


/* Icons */
.nav-icons {
  margin-right: 80px;
  display: flex;
  gap: 15px;
}

.nav-icons a {
  color: #5e5a60;
  font-size: 1.3rem;
}

.nav-icons a:hover {
  color: #08645e;
}
